{% extends "base.html" %}

{% block title %}Fomac Registered Users{% endblock %}
{% block page_content %}
<div class="page-header">Registered Users</div>

<table class="table table-striped">
<tr>
    <td>ID</td>
    <td>Name</td>
    <td>Role</td>
    <td>Phone</td>
</tr>
{% for person in registered %}
<tr>
    <td>{{ person.id }}</td>
    <td><a href="{{ url_for('reg.profile', type='name', value=person.name) }}">{{ person.name }}</a></td>
    <td>{{ person.role.name }}</td>
    <td>{{ person.phone_1 }}</td>
</tr>
{% endfor %}
</table>
<p><a class="btn btn-info href="{{ url_for('reg.new') }}">Register caller</a></p>
{% endblock %}




<div id="user-info">
<table class="table table-striped">
    <tr>
        <td>Username</td>
        <td>{{ staff.username }}</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td><a href="mailto:{{ staff.email }}">{{ staff.email }}</a></td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ staff.name }}</td>
    </tr>
    <tr>
        <td>Last Seen</td>
        <td>00:00:00</td>
    </tr>
</table>


    @reg.route('/<type>/<value>')
def profile(type, value):
    kwargs = {type: value}
    user = User.query.filter_by(**kwargs).first_or_404()
    map_url = map_lookup(user.postcode)
    return render_template('reg/reg-profile.html', user=user, map_url=map_url)
