 {% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h3>Welcome to Fomac RevolvingDoor: {% if current_user.is_authenticated() %}{{ current_user.username | capitalize}}
    {% else %}
    Please login to access
    {% endif %}</h3>
</div>
    {% if not current_user.is_authenticated() %}
    <a href="{{ url_for('auth.login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('reg.new') }}">Register caller</a>
    {% endif %}

{% endblock %}

